<section class="no-padding" id="details">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="details-box">
                    <img src="img/details/1.jpg" class="img-responsive" alt="">
                    <div class="details-box-caption">
                        <div class="details-box-caption-content">
                            <div class="feature-category text-faded">
                                Category
                            </div>
                            <div class="feature-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="details-box">
                    <img src="img/details/2.jpg" class="img-responsive" alt="">
                    <div class="details-box-caption">
                        <div class="details-box-caption-content">
                            <div class="feature-category text-faded">
                                Category
                            </div>
                            <div class="feature-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="details-box">
                    <img src="img/details/3.jpg" class="img-responsive" alt="">
                    <div class="details-box-caption">
                        <div class="details-box-caption-content">
                            <div class="feature-category text-faded">
                                Category
                            </div>
                            <div class="feature-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="details-box">
                    <img src="img/details/4.jpg" class="img-responsive" alt="">
                    <div class="details-box-caption">
                        <div class="details-box-caption-content">
                            <div class="feature-category text-faded">
                                Category
                            </div>
                            <div class="feature-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="details-box">
                    <img src="img/details/5.jpg" class="img-responsive" alt="">
                    <div class="details-box-caption">
                        <div class="details-box-caption-content">
                            <div class="feature-category text-faded">
                                Category
                            </div>
                            <div class="feature-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="details-box">
                    <img src="img/details/6.jpg" class="img-responsive" alt="">
                    <div class="details-box-caption">
                        <div class="details-box-caption-content">
                            <div class="feature-category text-faded">
                                Category
                            </div>
                            <div class="feature-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
