<section class="no-padding" id="details">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <span class="details-box">
                    <img src="img/details/1.jpg" class="img-responsive" alt="">
                    <div class="details-box-caption">
                        <div class="details-box-caption-content">
                            <div class="feature-category text-faded">
                                Category
                            </div>
                            <div class="feature-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </span>
            </div>
            <div class="col-lg-4 col-sm-6">
                <span class="details-box">
                    <img src="img/details/2.jpg" class="img-responsive" alt="">
                    <div class="details-box-caption">
                        <div class="details-box-caption-content">
                            <div class="feature-category text-faded">
                                Category
                            </div>
                            <div class="feature-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </span>
            </div>
            <div class="col-lg-4 col-sm-6">
                <span class="details-box">
                    <img src="img/details/3.jpg" class="img-responsive" alt="">
                    <div class="details-box-caption">
                        <div class="details-box-caption-content">
                            <div class="feature-category text-faded">
                                Category
                            </div>
                            <div class="feature-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </span>
            </div>
    </div>
</section>
