<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Overall Features</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cog wow bounceIn text-primary"></i>
                    <h3>Elasticsearch Compatible</h3>
                    <p class="text-muted">Ships metrics using Elastic Commom Schema, ready to query using Kibana.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Lighweight</h3>
                    <p class="text-muted">Runs with minimal set of Fluent Bit plugins/features</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-expand wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Custom Plugins</h3>
                    <p class="text-muted">Extends Fluent Bit using custom plugins.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-area-chart wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Dashboards</h3>
                    <p class="text-muted">Buil-in Kibana dashboard for Docker observability.</p>
                </div>
            </div>
        </div>
    </div>
</section>
